#root header {
  position: fixed;
  top: 0;
  z-index: 1000;
  /* height: 56px; */
}
#root .body {
  width: 100%;
  overflow: hidden;

  /* Thêm thuộc tính overflow:auto để quản lý tràn nội dung */
}

#root footer {
  bottom: 0;
  height: 300px;
  position: relative;
  clear: both; /* Thêm clear:both để xóa cả float và overflow */
}

.fa-sharp fa-solid fa-cart-shopping {
  position: relative;
}
.cart-count {
  position: absolute;
  color: red;
  font-size: 20px;
  font-weight: bold;
  left: 88%;
  top: 0px;
}

.carousel-inner {
  width: 700px;
  height: 600px;
}
#slide-img {
  width: 700px;
  height: 600px;
}
.navigation {
  margin-top: 60px;
  margin-left: 20px;
}
.header {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
}
.header-item {
  padding: 20px;
  /* width: 200px; */
}
.fa-solid {
  font-weight: 700;
  font-size: 30px;
}
.header-icon {
  display: flex;
  gap: 20px;
}
.main {
  width: 80%;
  height: 100%;
  margin: auto;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(171, 173, 172);
  border-radius: 10px;
}
.main-name {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.main-name-right {
  display: flex;
  gap: 30px;
}

.category:hover {
  border-bottom: 3px solid rgb(255, 217, 0); /* Đường kẻ vàng dưới dòng chữ */

  transition: 0.1s;
}

a {
  text-decoration: none; /* Loại bỏ dấu gạch chân */
  color: black; /* Đặt màu chữ thành đen */
}
.grid-container {
  width: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 cột có kích thước bằng nhau */
  grid-template-rows: auto; /* Chiều cao tự động theo nội dung */
  gap: 20px; /* Khoảng cách giữa các ô (có thể điều chỉnh theo nhu cầu) */
}

.grid-item {
  background-color: #ece5e5; /* Màu nền để nhận biết ô */
  padding: 30px; /* Khoảng cách nội dung trong ô (có thể điều chỉnh theo nhu cầu) */
  text-align: center;
}

.grid-item img {
  width: 100%; /* Đảm bảo hình ảnh không vượt quá kích thước của ô */
  height: auto;
}

.price {
  margin-top: 10px;
  font-weight: bold;
}

.rating {
  margin-top: 5px;
  color: gold;
}
.grid-item {
  position: relative;
  overflow: hidden;
  transition: transform 0.5s ease; /* Thêm hiệu ứng chuyển động cho thuộc tính transform */
}

.grid-item:hover {
  transform: scale(1.1); /* Khi hover, làm phóng to hình ảnh */
  box-shadow: 1px 1px 5px rgb(148, 135, 135);
}
.price,
.rating,
.product-name,
.quantity {
  margin-bottom: 5px;
}

.quantity-button {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.quantity-button:hover {
  background-color: #555;
}

/* CSS cho số lượng */
.quantity {
  display: flex;
  align-items: center;
}

/* CSS cho số lượng và nút tăng giảm */
.quantity-button,
.quantity span {
  margin: 0 4px;
}

/* CSS cho giá và đánh giá */
.price,
.rating {
  font-weight: bold;
  font-size: 14px;
}

/* CSS cho tên sản phẩm */
.product-name {
  font-size: 16px;
  margin-bottom: 5px;
}

/* CSS cho grid-item */
.grid-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  transition: transform 0.3s ease;
}
.position-absolute {
  left: 6px;
  position: absolute !important;
}
.fa-regular,
.far {
  font-weight: 400;
  font-size: 27px;
  top: 7%;
  left: 81%;
  position: absolute !important;
}
.quantity-button {
  background-color: #333;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/* CSS cho nút trái tim */
#favorite-button {
  background-color: transparent;
  color: rgb(228, 11, 11);
  border: none;
  cursor: pointer;
  font-size: 27px;
  transition: color 0.3s ease; /* Thêm hiệu ứng chuyển động cho màu chữ khi hover */
}

#favorite-button:hover {
  color: darkred;
}
.text {
  background-size: cover;
  min-width: 100vh;
  min-height: 100vh;
  position: relative;
}
.text-item {
  width: 100%;

  position: absolute;
}
#cartNo {
  position: relative;
}
#quantityValue {
  position: absolute;
  font-size: 15px;
  top: 5px;
  right: 194px;
  background-color: red;
  color: white;
}
.quantity {
  height: 50px;
}
.quantity-button {
  height: auto;
  background-color: rgb(4, 185, 56); /* Màu nền của nút */
  color: #fff; /* Màu chữ của nút */
  padding: 10px 20px; /* Kích thước đệm của nút */
  font-size: 16px; /* Kích thước chữ */
  border: none;
  cursor: pointer; /* Biến con trỏ thành mũi tên khi di chuyển qua nút */
  border-radius: 10px;
  transition: color 0.1s;
}

.quantity-button:hover {
  background-color: #2980b9; /* Màu nền thay đổi khi di chuột qua nút */
  opacity: 0.5;
  color: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}
.grid-item img {
  max-width: 100%;
  height: 250px;
}
/* CART */
.card {
  border: none;
  width: 50%;
  text-align: center;
  margin: auto;
}
.card h2 {
  margin-bottom: 30px;
}
.card table {
  width: 100%;
}
.card table theader tr th:first-child {
  text-align: left;
}
.card table tr td {
  border-bottom: 2px solid #dddddd;
}
.card table theader tr th:last-child {
  text-align: right;
}
/* Định dạng cơ bản cho giỏ hàng */
#cart-container {
  height: 96vh;
  position: fixed;
  top: 20px;
  right: 20px;
  width: 600px;
  background-color: #e1d7d7;
  border: 1px solid #ccc;
  padding: 20px;
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  display: none;
  z-index: 1000; /* Đặt z-index để đảm bảo nó hiển thị trên các phần khác (ví dụ: overlay) */
}

#cart-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

#cart-container table {
  width: 100%;
  border-collapse: collapse;
}

#cart-container th,
#cart-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

#cart-container th {
  background-color: #f2f2f2;
}

#cart-container img {
  max-width: 50px;
  max-height: 50px;
  margin-right: 10px;
}

#cart-container button {
  background-color: #4caf50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}
#cart-container button:hover {
  background-color: #45a049;
}

#cart-container button:focus {
  outline: none;
}

/* Định dạng cho nút Add to Cart */
.quantity-button {
  cursor: pointer;
}
#searchInput {
  padding: 15px; /* Kích thước đệm của ô input */
  margin-bottom: 15px; /* Khoảng cách từ trên xuống */
  width: 300px; /* Chiều rộng của ô input */
  border: 1px solid #ccc; /* Đường biên của ô input */
  border-radius: 20px; /* Độ cong góc của biên */
  outline: none; /* Loại bỏ đường viền khi ô input được chọn */
  font-size: 18px; /* Kích thước chữ */
}

#searchInput::placeholder {
  color: #999; /* Màu chữ mô phỏng trong ô input */
}
#confirmationTable {
  max-width: 1000px;
  max-height: 300px;

  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  /*Thêm các thuộc tính sau để làm cho nó trở thành một trung tâm và hiển thị một cách trơn tru */
  text-align: center;
  line-height: 1.6;
  font-size: 16px;
}

#confirmationTable th,
#confirmationTable td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#confirmationTable button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

#confirmationTable button:hover {
  background-color: #45a049;
}

#confirmationTable button:focus {
  outline: none;
}

confirmationTable img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

/* Thêm overlay để làm nền đen khi bảng xác nhận xuất hiện */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  /* z-index: 999; */
  display: none; /* Overlay sẽ được ẩn ban đầu */
}
